In [1]:
# Rode se Faker não estiver instalado - para saber rode a céulula abaixo também
# pip install Faker

In [2]:
# Importando dados
import random
import datetime
from faker import Faker 
import pandas as pd

In [3]:
#Definindo parâmetros
fake = Faker("pt_BR")
numeros_registros = 1000000
nome_arquivo = "Ecommerce_2024.csv"
caminho_saida = f"C:/Users/felip/Documents/Code/Cursos/E-COMMERCE/PBI_Version/"

In [ ]:
# Criando base para os dados
colunas = [
    "Nome", "Sobrenome","Sexo", "CPF","Idade", "ID_Produto", "Produto", "Quantidade",
    "Valor_Unitario", "Total_Compra", "Imposto_Produto", "Cidade",
    "Estado", "Pais", "Data", "Forma_Pagamento"]

produtos = [{"id": "01", "nome": "Notebook", "valor": 3500.00},
            {"id": "02", "nome": "Smartphone", "valor": 2800.00},
            {"id": "03", "nome": "Tablet", "valor": 3500.80},
            {"id": "04", "nome": "Impressora", "valor": 800.00},
            {"id": "05", "nome": "Monitor", "valor": 950.80},
            {"id": "06", "nome": "Teclado", "valor": 200.90},
            {"id": "07", "nome": "Mouse", "valor": 89.90},
            {"id": "08", "nome": "HeadSet", "valor": 250.00},
            {"id": "09", "nome": "Cadeira Gamer", "valor": 980.00},
            {"id": "10", "nome": "Suporte Monitor", "valor": 150.99}]

formas_pagamento = ["Debito", "Credito", "PIX", "Especie"]

sexo_opcoes = ["Masculino", "Feminino"]

dados = []

In [5]:
#Loop para preencher os dados
for i in range(0, numeros_registros):
    sexo = random.choice(sexo_opcoes)
    nome = fake.first_name_male() if sexo == "Masculino" else fake.first_name_female()
    sobrenome = fake.last_name()
    idade = random.randint(18, 60)
    cpf = fake.cpf()

    #Selecionando Produto
    produto_selecionado = random.choice(produtos)

    id_produto = produto_selecionado["id"]
    nome_produto = produto_selecionado["nome"]
    valor_unitario = produto_selecionado["valor"]

    #Quantidade de itens
    quantidade = random.randint(1, 5)
    total_compra = round(quantidade * valor_unitario, 2)

    imposto_produto = round(total_compra * 0.10, 2)

    cidade = fake.city()
    estado = fake.estado_sigla()
    pais = "Brasil"

    #Configurando range de datas
    data_inicial = datetime.datetime(2024, 1, 1)
    data_final = datetime.datetime(2024, 12, 31)

    data_compra = fake.date_between(start_date= data_inicial,end_date=data_final)
    pagamento = random.choice(formas_pagamento)

    dados.append([nome, sobrenome,sexo,cpf,idade,id_produto,nome_produto,quantidade,valor_unitario,total_compra,imposto_produto,cidade,estado,pais,data_compra,pagamento])

In [6]:
#Criando DataFrame
df = pd.DataFrame(data= dados, columns=colunas)

In [7]:
df

,Nome,Sobrenome,Sexo,CPF,Idade,ID_Produto,Produto,Quantidade,Valor_Unitario,Total_Compra,Imposto_Produto,Cidade,Estado,Pais,Data,Forma_Pagamento
0,Natália,Abreu,Feminino,714.280.635-44,27,04,Impressora,4,800.00,3200.00,320.00,Aparecida,RN,Brasil,2024-03-04,Credito
1,Cecília,da Costa,Feminino,893.107.265-12,49,10,Suporte Monitor,5,150.99,754.95,75.50,Araújo do Galho,TO,Brasil,2024-03-29,Especie
2,Ana Lívia,Moreira,Feminino,052.349.781-41,32,07,Mouse,5,89.90,449.50,44.95,Viana,SC,Brasil,2024-03-28,Debito
3,Enzo,Barros,Masculino,680.249.731-03,42,01,Notebook,2,3500.00,7000.00,700.00,Ferreira,SP,Brasil,2024-09-12,Credito
4,Luiza,Rodrigues,Feminino,142.360.985-98,34,09,Cadeira Gamer,2,980.00,1960.00,196.00,Ramos de Minas,AM,Brasil,2024-07-28,Debito
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,Benicio,Nascimento,Masculino,146.590.237-61,29,09,Cadeira Gamer,2,980.00,1960.00,196.00,Barbosa,TO,Brasil,2024-06-09,PIX
999996,Lucas,Ferreira,Masculino,957.602.483-83,36,08,HeadSet,1,250.00,250.00,25.00,Araújo,PE,Brasil,2024-10-16,Debito
999997,Ana Júlia,Dias,Feminino,026.587.349-56,48,09,Cadeira Gamer,4,980.00,3920.00,392.00,Aragão Paulista,PB,Brasil,2024-02-10,Debito
999998,Luiz Henrique,da Luz,Masculino,083.721.596-02,42,03,Tablet,3,3500.80,10502.40,1050.24,Macedo da Praia,PE,Brasil,2024-08-02,Especie
999999,Ian,Correia,Masculino,193.256.048-33,27,03,Tablet,2,3500.80,7001.60,700.16,Freitas,ES,Brasil,2024-03-05,PIX

In [8]:
df.describe()

,Idade,Quantidade,Valor_Unitario,Total_Compra,Imposto_Produto
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,38.998674,2.999429,1322.514460,3965.501437,396.550445
std,12.419636,1.414342,1323.149139,4768.160247,476.815809
min,18.000000,1.000000,89.900000,89.900000,8.990000
25%,28.000000,2.000000,200.900000,602.700000,60.270000
50%,39.000000,3.000000,800.000000,1901.600000,190.160000
75%,50.000000,4.000000,2800.000000,4900.000000,490.000000
max,60.000000,5.000000,3500.800000,17504.000000,1750.400000

In [9]:
df.to_csv(f"C:/Users/felip/Documents/Code/Cursos/E-COMMERCE/PBI_Version/{nome_arquivo}")